[user]
	name = Kacper Debowski
	email = kdebowski93@gmail.com
[core]
	autocrlf = input
[init]
	defaultBranch = main
[alias]
	lg = log --all --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[push]
	autoSetupRemote = true
